:root[data-theme="dark"] {
  /* Dark Theme Colors */

  --hotel-title: #fff;
  --Popular: #242323;
}

:root[data-theme="light"] {
  /* Light Theme Colors */
  --hotel-title: #ffffff;
  --Popular: #000000;
}

.facilities-page {
  position: absolute;
  top: -150px;
  width: 100vw;
  height: 100vh;
  transform: translateX(+2200px);
  background: #cfc1c1;
  transition: 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hotel-background {
  position: absolute;
  top: 100px;
  width: 100vw;
  height: 390px;
  background: url(../IMG/1.jpg);
  background-size: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.hotel-title {
  position: absolute;
  color: var(--hotel-title);
  text-align: center;
  font-size: 65px;
  text-shadow: #069701;
  font-weight: 700;
  z-index: 2;
}
.Popular {
  color: var(--Popular);
  position: absolute;
  top: 500px;
  font-size: 22px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
}
.filter {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  background: #e9e6e6;
}
.box-hotel {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 550px;
  /* background-color: red; */
  display: flex;
  width: 1500px;
  height: 2000px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hotel-list {
  position: absolute;
  top: 0px;
  right: 0;
  border-radius: 30px;
  display: flex;
  gap: 20px;
  width: 1000px;
  height: 2800px;
  flex-direction: column;
}
.hotels {
  position: relative;
  width: 1000px;
  height: 260px;
  background-color: #e9e6e6;
  border-radius: 10px;
  transition: 0.2s;
}
.hotels:hover {
  box-shadow: 0 0 5px 0 #928f8f;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: var(--image);
  transition: 0.5s;
}
.image:hover {
  box-shadow: 0 0 5px 0 #363535;
}
.image:hover .arrow {
  opacity: 1;
}
.count {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 500;
  font-size: 16px;
}
.name {
  color: #000000;
  font-size: 30px;
  position: absolute;
  left: 280px;
  top: 20px;
}
.arrow {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 50px;
  background: #3f3f3fb6;
  border-radius: 50%;
  transition: 0.2s;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.arrow.left::before {
  content: "";
  position: absolute;
  width: 25px;
  top: 50%;
  transform: translate(0, -50%);
  left: 12px;
  background: white;
  height: 3px;
}
.arrow.left::after {
  content: "";
  position: absolute;
  top: 36%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 12px;
  height: 12px;
  rotate: -45deg;
  border-top: 3px solid white;
  border-left: 3px solid white;
}

.arrow.right::before {
  content: "";
  position: absolute;
  width: 25px;
  top: 50%;
  transform: translate(0, -50%);
  right: 11px;
  background: white;
  height: 3px;
}
.arrow.right::after {
  content: "";
  position: absolute;
  top: 56%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 12px;
  height: 12px;
  rotate: 45deg;
  border-top: 3px solid white;
  border-right: 3px solid white;
}

.map {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 200px;
  background: url(../IMG/Map/Map.jpeg);
  background-size: cover;
  border-radius: 10px;
}
.view-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 50px;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}
.view-map:hover {
  background: black;
  color: white;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #556cac;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.book {
  position: absolute;
  top: 140px;
  left: 360px;
  width: 180px;
  height: 50px;
  background: #09aa1f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.book:hover {
  background: #37c94b;
}
.line {
  position: absolute;
  width: 2px;
  height: 180px;
  background: #8a8888;
  left: 630px;
  top: 60px;
}

.in-map {
  color: #000000;
  position: absolute;
  top: 60px;
  left: 660px;
}

.review {
  position: absolute;
  top: 80px;
  left: 630px;
  background: transparent;
  width: 150px;
  height: 40px;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.cir {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid black;
  overflow: hidden;
}

.fl {
  background: #069701;
}
.hl::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #069701;
  right: 50%;
}
.reviews-text {
  color: black;
  position: absolute;
  top: 90px;
  font-size: 14px;
  left: 750px;
}
.review-note {
  color: #000000;
  position: absolute;
  top: 120px;
  left: 660px;
  font-size: 12px;
}

.detail {
  position: absolute;
  top: 160px;
  left: 650px;
  color: rgb(85, 83, 83);
  margin-right: 10px;
  font-size: 15px;
  font-family: "Kaushan Script", sans-serif;
}

@media (max-width: 1500px) {
  .hotel-background {
    height: 300px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .hotel-title {
    font-size: 50px;
  }
  .Popular {
    top: 420px;
    font-size: 22px;
  }
  .filter {
    border-radius: 10px;
    width: 250px;
    height: 1200px;
  }
  .box-hotel {
    top: 460px;
    gap: 10px;
    width: 1200px;
  }
  .hotel-list {
    border-radius: 20px;
    height: 2000px;
  }
  .hotels {
    left: 80px;
    top: 0;
    width: 900px;
    height: 180px;
    border-radius: 10px;
  }

  .image {
    width: 180px;
    height: 180px;

  }
  .count {
    font-size: 12px;
  }
  .name {
    color: #000000;
    font-size: 18px;
    position: absolute;
    left: 200px;
    top: 10px;
  }
  .arrow {
    height: 30px;
    width: 30px;
  }
  .arrow.left::before {
    left: 8px;
    width: 15px;
    height: 2px;
  }
  .arrow.left::after {
    width: 8px;
    height: 8px;
  }

  .arrow.right::before {
    right: 6px;
    width: 15px;
    height: 2px;
  }
  .arrow.right::after {
    width: 8px;
    height: 8px;
  }


  .book {
    top: 80px;
    left: 250px;
    width: 120px;
    height: 40px;
  }
  .line {
    width: 2px;
    height: 140px;
    left: 480px;
    top: 30px;
  }

  .in-map {
    top: 20px;
    left: 520px;
  }

  .review {
    top: 35px;
    left: 485px;
  }

  .reviews-text {
    top: 48px;
    font-size: 12px;
    left: 610px;
  }
  .review-note {
    top: 80px;
    left: 520px;
  }

  .detail {
    top: 100px;
    left: 490px;
    margin-right: 20px;
    font-size: 12px;
    font-family: "Kaushan Script", sans-serif;
  }
}
